.wrap{
    flex-wrap: wrap;
}

/* Flex ele é uma abreviação dos atributos flex-grow, flex-shrink, flex-basis */
.flex-0{
    flex: 0;
}

.flex-1{
    flex: 1;
}

/* O Order altera a posição dos elementos, basta definir 0 ou 1, sendo 0 padrão e 1 uma prioridade de mundança */
.item.item3{
    order: 1;
}

/* .align-self .item5{
    align-self: auto;
} */

/* Align-self, proporciona atributos e valores aos elementos para definidir a posição de um item dentro de um
container, são eles o auto, flex-start, flex-end, center e o stretch */
.align-self.start .item3{
    align-self: flex-start;
}

.align-self.end .item3{
    align-self: flex-end;
}
.align-self.center .item3{
    align-self: center;
}

.align-self.stretch .item3{
    align-self: stretch;
}