body{
  margin: 0;
}

.container{
  display: grid;
  padding: 3em;
  gap: 2em;

  /* O auto-fit, ocupa todo o tamanho do container, definindo automaticamente a largura de cada uma das colunas */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.container p{
  padding: 2em;
  border-radius: .3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}