*{
    margin: 0;
    padding: 0;
}

ul{
    /* list-style-image: url("./images/icone.png"); */
    list-style: circle inside url("./images/icone.png");
}

ul li{
    border: 1px solid black;
    background-color: blanchedalmond;
    margin: 15px;
    padding: 10px;
}

ol{
    /* list-style-image: url("./images/icone.png"); */
    list-style: circle inside url("./images/icone.png");
}

ol li{
    border: 1px solid black;
    background-color: blanchedalmond;
    margin: 15px;
    padding: 10px;
}