

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 45px 30px;
    margin: 15px;
    color: var(--text-color);

    font-family: 'Public Sans', sans-serif;
}

.rome{
    background-image: url(./../image/rome.png);
    width: var(--patter-w);
    height: var(--patter-h);
}

.boat{
    background-image: url(./../image/boat.png);
    width: var(--patter-w);
    height: var(--patter-h);
}

.sandAndSea{
    background-image: url(./../image/sand-and-sea.png);
    width: var(--patter-w);
    height: var(--patter-h);
}

.starryNight{
    background-image: url(./../image/starry-night.png);
    width: var(--patter-w);
    height: var(--patter-h);
}

h1{
    font-weight: var(--font-700);
}

h3{
    font-weight: var(--font-300);
}

@media (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}