html{
    background-color: #ccc;
    font-size: 24px;
}

body{
    background-color: bisque;
    width: 50%;
}

.pai{
    background-color: #ea80fc;
    width: 50%;
}

.filha{
    background-color: #1de9b6;
    width: 50%;
}

/* 1 em = 16 px */
